@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<EntityLayer.Concrete.User>

<table class="table table-striped" style="width:400px">

    <theead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Password
            </th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>

        </tr>
    </theead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.SurName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Role
                </td>
                <td>
                    @item.Password
                </td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })</td>


            </tr>
        }
    </tbody>
</table>
